<a href="https://colab.research.google.com/github/ninaast/2024_ells_python/blob/main/monday/02_lec_recall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ELLS - Practical Introduction into Programming with Python

<a href="https://pef.czu.cz/en/"><img src="https://aleksejalex.4fan.cz/ells/temp_banner.jpeg?22" alt="banner" width="1000"></a>

[GitHub Repository](https://github.com/)

[Project's website](https://kii.pef.czu.cz/ells-2024)

# Plan for this lecture:

<a href="https://www.pef.czu.cz/en"><img src="https://aleksejalex.4fan.cz/imgsbin/uploads/logo.png" alt="banner" width="400" align="right"></a>

 - Variables
 - Conditions
 - Loops
 - Containers
 - Classes

# Basics of Importing in Python

In Python, you can import modules and packages in various ways. Here are three basic methods to do it:

Basic imports
- import math  # For math functions
- import os    # For tasks with operating system
- import sys   # For system parameters


## 1. Basic Import of the Entire Module
In this method, the entire module is imported, and to access its functions and classes, you need to use the module name.

In [1]:
# Import the whole module 'math'
import math

# we use functions 'sqrt' from module 'math'
result = math.sqrt(16)
print(result)  # Output: 4.0

4.0

## 2. Import Specific Functions or Classes from a Module

This method allows you to import only specific functions or classes from a module, so you don't need to use the module name each time you call the function.

In [ ]:
# Importing specific functions 'sqrt' and 'pow' from the 'math' module
from math import sqrt, pow

# Using the 'sqrt' and 'pow' functions directly
result1 = sqrt(16)
result2 = pow(2, 3)
print(result1)  # Output: 4.0
print(result2)  # Output: 8.0

4.0
8.0

## 3. Import a Module with an Alias
 Using an alias can shorten the module name, which is especially useful for modules with long names.

In [ ]:
# Importing the 'numpy' module with alias 'np'
import numpy as np
import math as lauda

# Using functions from the 'numpy' module with the alias 'np'
array = np.array([1, 2, 3, 4])
print(array)  # Output: [1 2 3 4]
result = lauda.sqrt(9)
print(result)

[1 2 3 4]
3.0

# Part 1 - Variables
<img src="https://aleksejalex.4fan.cz/imgsbin/uploads/variables.jpg" alt="banner" width="50%">

### 1.Variables - 'string', 'int'

Explanation:
name = "Alice": Declares and assigns a string value "Alice" to the variable name.

- `age = 30`: Declares and assigns an integer value 30 to the variable age.

- `city = "New York"`: Declares and assigns a string value "New York" to the variable city.

- `print(f"Name: {name}, Age: {age}, City: {city}")`: Prints the values stored in variables name, age, and city.

- `is_day_today = True`: Declares bool variable to `True`

In [3]:
# Example of variable declaration and assignment
name = "Alice"
age = 30
city = "New York"

print(f"Name: {name}, Age: {age}, City: {city}")

is_day_today = True
print(is_day_today)

Name: Alice, Age: 30, City: New York
True

### 2. Variable Reassignment
- `x = 10`: Initializes and assigns the integer value 10 to the variable x.
- `print("Initial x:", x)`: Prints the initial value of x.
- `x = 20`: Reassigns the integer value 20 to the variable x.
- `print("Updated x:", x)`: Prints the updated value of x.

In [ ]:
# Example of variable reassignment
x = 10
print("Initial x:", x)

x = 20
print("Updated x:", x)

Initial x: 10
Updated x: 20

### 3. Variable Concatenation

- `first_name = "John"`: Declares and assigns the string "John" to the variable first_name.
- `last_name = "Doe"`: Declares and assigns the string "Doe" to the variable last_name.
- `full_name = first_name + " " + last_name`: Concatenates first_name, a space " ", and last_name to form full_name.
- `print("Full Name:", full_name)`: Prints the concatenated full name.

In [ ]:
# Example of variable concatenation
first_name = "John"
last_name = "Doe"

full_name = first_name + " " + last_name
print("Full Name:", full_name)

Full Name: John Doe

### 4. Variable Scope
- `def my_function():`: Defines a function my_function.
- `inner_variable = "Inside Function":` Declares and assigns the string "Inside Function" to the variable inner_variable within my_function.
- `print("Inside function:", inner_variable):` Prints the value of inner_variable from within my_function.
- `my_function():` Calls my_function to execute its code.
- `outer_variable = "Outside Function":` Declares and assigns the string "Outside Function" to the variable outer_variable outside any function scope.
- `print("Outside function:", outer_variable):` Prints the value of outer_variable from outside my_function.

In [ ]:
# Example of variable scope
def my_function():
    inner_variable = "Inside Function"
    print("Inside function:", inner_variable)

my_function()

outer_variable = "Outside Function"
print("Outside function:", outer_variable)

Inside function: Inside Function
Outside function: Outside Function

### 5. Mutliple variable assignment

- `a, b, c = 1, 2, 3`: Assigns the values 1, 2, and 3 to variables a, b, and c respectively in a single line.
- `print("a:", a):` Prints the value of a.
- `print("b:", b):` Prints the value of b.
- `print("c:", c):` Prints the value of c.

In [ ]:
# Example of multiple assignment
a, b, c = 1, 2, 3
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

# Conditions
<img src="https://aleksejalex.4fan.cz/imgsbin/uploads/condition.jpg" alt="banner" width="50%">

### 1.a) Conditions - 'if' statement

- using `if`
- basic comparison

In [ ]:
# Example of an if statement
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

### 1.a) Conditions - 'if' statement - one line construct and ternary operator

- using `if` one line construct
- ternary operator usage

In [ ]:
name, age, city = "Alice", 30, "New York"
print(f"Name: {name}, Age: {age}, City: {city}") if (name := "Alice") and (age := 30) and (city := "New York") else None

# ternary operator
value = -10
result = "Positive" if value > 0 else "Non-positive"
print(result)

Name: Alice, Age: 30, City: New York
Non-positive

### 2.Conditions using 'if' and 'else'

- Example of if else scheme'
- basic comparison

In [ ]:
# Example of an if-else statement
y = 3
if y % 2 == 0:
    print("y is an even number")
else:
    print("y is an odd number")

y is an odd number

### 3.Condition using `if`, `elif`, `else`

The `elif` statement allows you to check multiple conditions. It is short for "else if".

In [ ]:
# Example of using if, elif, and else statements
z = 0
if z > 0:
    print("z is a positive number")
elif z < 0:
    print("z is a negative number")
else:
    print("z is zero")

z is zero

### 4.Condition using Nested Conditions `if`, (`if`, `else`), `else`

Nested conditions refer to placing one condition inside another.

In [ ]:
# Example of nested conditions
a = 15
if a > 10:
    if a % 2 == 0:
        print("a is greater than 10 and it's an even number")
    else:
        print("a is greater than 10 and it's an odd number")
else:
    print("a is 10 or less")

a is greater than 10 and it's an odd number

### 5.Condition using Nested Conditions `and`, `or`

Usage with logical operators

In [ ]:
# Example of using `or` operator in conditions
x = 10
y = 5

if (x > 7 and y > 7):
    print("Both numbers are greater than 7")
if (x > 5 or y > 7):
    print("Neither x is greater than 5 nor y is greater than 7")

Neither x is greater than 5 nor y is greater than 7

# Loops
<img src="https://aleksejalex.4fan.cz/imgsbin/uploads/loops.jpg" alt="banner" width="50%">

### 1.a) Basic `for` loop construct - multiple lines approach

Usage basic iteration via the collection

In [ ]:
# Example of a for loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

### 1.b) Basic `for` loop construct - one line approach

Usage basic iteration via the collection with one line construct

In [ ]:
# Example of list comprehension
numbers = [1, 2, 3, 4, 5]

# Using list comprehension to create a new list
squared_numbers = [x ** 2 for x in numbers]

# Getting a value
print(squared_numbers[2])  # Output: 9

9

### 2. Basic `while` loop

- Usage of `while` Loop
- Caution: be careful with using `while` loops: GENERALLY PROGRAMMERS INAPPROPRIATELY SET CONDITION AND LOOP NEVER STOPS!!!!

In [4]:
# Example of a while loop
i = 1
while i <= 9:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

### 3.Basic - Nested Loops Example

Nested loops refer to placing one loop inside another loop.

In [ ]:
# Example of nested loops
for i in range(1, 4):
    for j in range(1, 4):
        print(f"({i}, {j})") sk

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

### 4.Basic - Loops with conditions

Example of `break` and `continue` in a loop

In [ ]:
# Example of break and continue in a loop
numbers = [1, 2, 3, 4, 5, 6]
for number in numbers:
    if number % 2 == 0:
        continue  # Skip even numbers
    if number == 5:
        break  # Exit the loop when number is 5
    print(number)

1
3

### 5.Basics - Looping through dictionary items

iterate via `dictionary` collection

In [ ]:
# Example of looping through dictionary items
person = {"name": "Alice", "age": 30, "city": "New York"}
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
city: New York

# Containers
<img src="https://aleksejalex.4fan.cz/imgsbin/uploads/containers.jpg" alt="banner" width="50%">

### 1.List Example

- `fruits = ["apple", "banana", "cherry"]`: Initializes a list `fruits` containing strings.
- `fruits.append("orange")`: Adds the string `"orange"` to the end of the list `fruits`.
- `print(fruits[0])`: Prints the first element (`"apple"`) of the list `fruits`.

In [ ]:
# Example of a list
fruits = ["apple", "banana", "cherry"]

# Inserting a value
fruits.append("orange")

# Getting a value
print(fruits[0])  # Output: apple

apple

### 2.Tuple Example

- `person = ("John", 30, "New York")`: Initializes a tuple `person` with elements `"John"`, `30`, and `"New York"`.
- Tuple is immutable, so you cannot add or remove elements after creation.
- `print(person[1])`: Prints the second element (`30`) of the tuple `person`.

In [ ]:
# Example of a tuple
person = ("John", 30, "New York")

# Tuple is immutable, so you cannot directly insert values.
# You can access values by index.
print(person[3])  # Output: 30

True

### 3.Set Example

- `colors = {"red", "green", "blue"}`: Initializes a set `colors` containing strings.
- `colors.add("yellow")`: Adds the string `"yellow"` to the set `colors`.
- Sets are unordered, so you cannot access elements by index. Use iteration (`for` loop) to print all elements.

In [ ]:
# Example of a set
colors = {"red", "green", "blue"}

# Adding a value
colors.add("yellow")

# Getting values (sets are unordered, so you cannot access by index)
for color in colors:
    print(color)

blue
green
red
yellow

### 4.Dictionary Example

- `person = {"name": "Alice", "age": 30, "city": "New York"}`: Initializes a dictionary `person` with keys `"name"`, `"age"`, and `"city"`, and their corresponding values.
- `person["email"] = "alice@example.com"`: Inserts a new key-value pair `"email": "alice@example.com"` into the dictionary `person`.
- `print(person["name"])`: Retrieves and prints the value associated with the key `"name"` from the dictionary `person`.

In [ ]:
# Example of a dictionary
person = {"name": "Alice", "age": 30, "city": "New York"}

# Inserting a value
person["email"] = "alice@example.com"

# Getting a value
print(person["name"])  # Output: Alice

Alice


### 5.Nested List Example

- `matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]`: Initializes a nested list `matrix` containing three inner lists.
- `matrix[0].append(4)`: Appends the integer `4` to the first inner list `[1, 2, 3]` within `matrix`.
- `print(matrix[1][1])`: Retrieves and prints the value at row index `1` and column index `1` from the nested list `matrix`.

In [5]:
# Example of nested list
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Inserting a value
matrix[0].append(4)

# Getting a value
print(matrix[1][1])  # Output: 5

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
5

### 6.Example of List Comprehension

- `numbers = [1, 2, 3, 4, 5]`: Initializes a list `numbers` with integers.
- `squared_numbers = [x ** 2 for x in numbers]`: Uses list comprehension to create a new list `squared_numbers` where each element is the square of the corresponding element from `numbers`.
- `print(squared_numbers[2])`: Retrieves and prints the third element (`9`) from the list `squared_numbers`, which is the square of `3` from `numbers`.

In [ ]:
# Example of list comprehension
numbers = [1, 2, 3, 4, 5]

# Using list comprehension to create a new list
squared_numbers = [x ** 2 for x in numbers]

# Getting a value
print(squared_numbers[2])  # Output: 9

9

### 7.Example of Set Comprehension

- `numbers = [1, 2, 3, 4, 5, 5, 4, 3, 2, 1]`: Initializes a list `numbers` with integers.
- `unique_numbers = {x for x in numbers}`: Uses set comprehension to create a new set `unique_numbers` containing unique elements from `numbers`.
- Iterates through `unique_numbers` to print each unique element.

In [ ]:
# Example of set comprehension
numbers = [1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

# Using set comprehension to create a new set
unique_numbers = {x for x in numbers}

# Getting values (sets are unordered, so you cannot access by index)
for num in unique_numbers:
    print(num)

1
2
3
4
5

### 8.Example of Dictionary Comprehension

- `numbers = [1, 2, 3, 4, 5]`: Initializes a list `numbers` with integers.
- `squared_dict = {x: x ** 2 for x in numbers}`: Uses dictionary comprehension to create a new dictionary `squared_dict` where keys are elements from `numbers` and values are the squares of those elements.
- `print(squared_dict[4])`: Retrieves and prints the value associated with key `4` from the dictionary `squared_dict`, which is `16`.

In [ ]:
# Example of dictionary comprehension
numbers = [1, 2, 3, 4, 5]

# Using dictionary comprehension to create a new dictionary
squared_dict = {x: x ** 2 for x in numbers}

# Getting a value
print(squared_dict[4])  # Output: 16

16

### 9.Example of Generator Expression

- `numbers = [1, 2, 3, 4, 5]`: Initializes a list `numbers` with integers.
- `squared_gen = (x ** 2 for x in numbers)`: Uses a generator expression to create a generator `squared_gen` that yields the square of each element in `numbers` when iterated.
- Iterates through `squared_gen` to print each squared value.

In [ ]:
# Example of generator expression
numbers = [1, 2, 3, 4, 5]

# Using generator expression to iterate through values
squared_gen = (x ** 2 for x in numbers)

# Getting values by iteration
for num in squared_gen:
    print(num)

1
4
9
16
25

# Classes

<img src="https://aleksejalex.4fan.cz/imgsbin/uploads/classes.jpg" alt="banner" width="50%">

### 1.Class Declaration

- Defines a base class `Animal` with an initializer method `__init__` that sets the `name` attribute.
- Defines a method `speak` which raises `NotImplementedError` indicating that subclasses must implement this method.
- Creates instances of the class `Animal` (`dog` and `cat`) with names "Dog" and "Cat" respectively.
- Accesses the `name` attribute of the instances (`dog.name` and `cat.name`) and calls the `speak` method on the instance `cat`.

In [8]:
# Example of class declaration
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print("hello", self.name)
        #raise NotImplementedError("Subclass must implement abstract method")

# Creating instances of the class
dog = Animal("Dog")
cat = Animal("Cat")

# Accessing attributes and methods
print(dog.name)  # Output: Dog
cat.speak()  # Raises NotImplementedError
print(dog.speak())

Dog
hello Cat
hello Dog
None

### 2.Inheritance

- Defines a subclass `Dog` inheriting from the base class `Animal`.
- Overrides the `speak` method in the subclass `Dog` to return a string representing the dog's sound.
- Defines another subclass `Cat` inheriting from `Animal` and overrides the `speak` method for cats.
- Creates instances of `Dog` (`dog`) and `Cat` (`cat`) with names "Buddy" and "Whiskers" respectively.
- Accesses the overridden `speak` methods for both instances (`dog.speak()` and `cat.speak()`).

In [9]:
# Example of inheritance
class Dog(Animal):
    def speak(self):
        return f"{self.name} says Woof!"

class Cat(Animal):
    def speak(self):
        return f"{self.name} says Meow!"

# Creating instances of subclasses
dog = Dog("Buddy")
cat = Cat("Whiskers")

# Accessing overridden methods
print(dog.speak())  # Output: Buddy says Woof!
print(cat.speak())  # Output: Whiskers says Meow!

Buddy says Woof!
Whiskers says Meow!

### 3.Method Overriding

- Defines a subclass `Bird` inheriting from the base class `Animal`.
- Overrides the `speak` method in the subclass `Bird` to return a custom string representing the bird's sound.
- Creates an instance of `Bird` (`bird`) with the name "Nightingale".
- Accesses the overridden `speak` method for the `bird` instance (`bird.speak()`).

In [10]:
# Example of method overriding
class Bird(Animal):
    def speak(self):
        return f"{self.name} sings beautifully!"

# Creating an instance of the subclass
bird = Bird("Nightingale")

# Accessing overridden method
print(bird.speak())  # Output: Nightingale sings beautifully!

Nightingale sings beautifully!

### 4.Class with Class Variable and Instance Variable

- Defines a class `Employee` with a class variable `company` set to "XYZ Corp".
- Initializes instances of `Employee` (`emp1` and `emp2`) with instance variables `name` and `salary`.
- Accesses and prints the class variable `company` using both the class (`Employee.company`) and instance (`emp1.company`) references.
- Accesses and prints the instance variables `name` and `salary` for both instances (`emp1.name`, `emp1.salary`, `emp2.name`, `emp2.salary`).

In [11]:
# Example of class with class variable and instance variable
class Employee:
    company = "XYZ Corp"  # Class variable

    def __init__(self, name, salary):
        self.name = name  # Instance variable
        self.salary = salary  # Instance variable

# Creating instances of the class
emp1 = Employee("John", 50000)
emp2 = Employee("Alice", 60000)

# Accessing class and instance variables
print(Employee.company)  # Output: XYZ Corp
print(emp1.name, emp1.salary)  # Output: John 50000
print(emp2.name, emp2.salary)  # Output: Alice 60000

XYZ Corp
John 50000
Alice 60000

### 5.Multiple Inheritance

- Defines three classes `A`, `B`, and `C` where `C` inherits from both `A` and `B`.
- Defines methods `method_a`, `method_b`, and `method_c` in classes `A`, `B`, and `C` respectively.
- Creates an instance `obj` of the class `C`.
- Accesses and calls methods from both parent classes (`obj.method_a()`, `obj.method_b()`) as well as its own method (`obj.method_c()`).

In [ ]:
# Example of multiple inheritance
class A:
    def method_a(self):
        print("Method A")

class B:
    def method_b(self):
        print("Method B")

class C(A, B):
    def method_c(self):
        print("Method C")

# Creating an instance of the subclass
obj = C()

# Accessing methods from both base classes
obj.method_a()  # Output: Method A
obj.method_b()  # Output: Method B
obj.method_c()  # Output: Method C

## Summary
 - Basic importing
 - Basic Variables: int, string, etc..
 - Conditions: using 'if' and 'else'
 - Loops: for, while, etc..
 - Containers: List, Set, etc..
 - Classes: basic declaration, inheritance

## Additional sources (where to seek for information):
 - Programming with Mosh: https://www.youtube.com/watch?v=kqtD5dpn9C8
 - w3Schools Python: https://www.w3schools.com/python/

<div style="font-style: italic; font-size: 14px;">
    <p>This material was prepared by Department of Information Engineering (<a href="https://www.pef.czu.cz/en">PEF ČZU</a>) exclusively for purposes of ELLS summer school "Practical Introduction into Programming with Python". Any distribution or reproduction of this material, in whole or in part, without prior written consent of the authors is prohibited.</p>
    <p>This material is shared under the <b>Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License</b>, <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">link</a>.</p>
</div>